@import './theme';

* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #efefef;
}

main {
  margin-top: 80px;
}

.wrapper_1080 {
  max-width: 1080px;
  margin: auto;
}

.main-header {
  box-sizing: border-box;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  background-color: color(second-400);

  .search {
    height: 28px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .wrapper_1080 {
    flex-wrap: nowrap !important;
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 40px;
    align-self: center;
    margin-right: 20px;

    img {
      height: 100%;
    }
  }

  ul {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: stretch;
    list-style-type: none;

    a {
      text-decoration: none;
      color: color(white);
    }

    li {
      height: 80px;
      box-sizing: border-box;
      padding: 30px;
      transition: 0.2s ease-in-out;

      &.active {
        border-bottom: 3px solid color(second-100);
      }

      &:hover {
        background-color: color(second-300);
      }
    }
  }

  .profile {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex: 0;
    cursor: pointer;
    white-space: nowrap;
    color: color(white);

    .avatar {
      background-color: #ffffff;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.avatar {
  img {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card {
  transition: 0.15s ease-out;
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

  a {
    color: color(second-100);
  }
}

.user-page {
  .main-info {
    margin-bottom: 30px;

    .b-edit-profile {
      opacity: 0.15;
      height: 26px;
      position: absolute;
      top: 10px;
      right: 10px;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.2;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    display: flex;
    height: 200px;
    background-color: #ffffff;

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      background-color: color(gray-1);
    }

    .content {
      padding: 20px;

      .id {
        padding: 3px 10px;
        background-color: color(blue-1);
        font-size: 12px;
        color: #333;
        border-radius: 4px;
      }

      h3 {
        color: color(gray-1);
        margin-bottom: 15px;
        margin-top: 4px;
      }

      h5 {
        color: color(gray-3);
        margin-bottom: 5px;
        margin-top: 5px;
      }

      p {
        margin-left: 15px;
      }

      & > a {
        margin-left: 15px;
      }

      a {
        text-decoration: none;
        color: color(primary);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .full-info {
    .nav_wrapper {
      width: 250px;
      border-right: 1px solid #cccccc;
      box-sizing: border-box;
      background-color: color(white-1);

      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 30px 20px;

        li {
          position: relative;
          padding: 5px;
          transition: .2s ease-in-out;
          cursor: pointer;

          &.active {
            margin-left: 10px;

            &::before {
              transition: .2s ease-in-out;
              content: '';
              background-color: color(gray-1);
              display: block;
              height: 6px;
              width: 6px;
              position: absolute;
              top: 50%;
              margin-top: -3px;
              left: -10px;
            }
          }
        }
      }
    }

    .content {
      padding: 20px;
      color: color(gray-2);

      h4 {
        color: color(gray-1);
        margin: 20px 10px;
        font-size: 24px;

        &::after {
          position: absolute;
          content: '';
          background-color: color(blue-1);
          height: 2px;
          width: 100px;
          bottom: -5px;
          left: 0;
        }
      }

      p {
        margin: 16px 20px;
      }

      a {
        color: color(primary);
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      ul {
        .date {
          width: 150px;
          display: inline-block;
          color: color(gray-1);
        }

        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 20px;

        li {
          display: flex;
          margin: 16px 20px;

          &::after {
            position: absolute;
            content: '';
            display: block;
            top: 50%;
            left: -25px;
            margin-top: -5px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid color(primary);
            z-index: 1;
          }
        }

        &::after {
          position: absolute;
          content: '';
          display: block;
          top: 23px;
          left: 0;
          bottom: 23px;
          width: 2px;
          background-color: color(primary);
        }
      }

      .competitions {
        margin: 20px;
        cursor: pointer;

        span {
          display: inline-block;
          background: color(white);
          padding: 10px 20px;
          border-radius: 10px;
          margin: 10px;
          border: 1px solid color(blue-1);
        }
      }
    }
  }
}

.users-page {
  & > .wrapper_1080 {
    display: flex;
    flex-wrap: wrap;
  }
}

.card.company {
  h5 {
    margin-bottom: 8px;
    color: color(second-100);
  }

  p {
    margin-left: 5px;
    font-size: 12px;
    margin-bottom: 4px;
    color: color(gray-1);
  }
}

a {
  text-decoration: none;
}

.card.user, .card.university, .card.company {
  h5.type {
    color: #666666;
  }

  width: calc(100% / 3 - 20px);
  margin: 20px 10px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.15s ease-out;

  &:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  }

  header {
    padding: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .avatar {
      height: 60px;
      width: 60px;
      border: 1px solid #ccc;
      border-radius: 50%;
      margin-bottom: 7px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      flex: 1;
      color: color(second-300);
      font-size: 18px;
      margin-bottom: 7px;
    }

    border-bottom: 2px solid color(gray-3)
  }

  .content {
    padding: 20px;
  }
}

.univers-page, .company-page {

  .wrapper_1080 {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    .avatar {
      box-sizing: border-box;
      height: 60px;
      width: 60px;
      border: 1px solid #ccc;
      border-radius: 50%;
      margin-bottom: 7px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}

.card.event {
  padding: 20px;
  margin-bottom: 14px;

  h3 {

    color: #666666;
    margin-bottom: 40px;
  }

}
a {
  color: color(primary);

}
.vacant{
  padding: 20px;
  h4{
    color: #333;
  }
  p{
    margin: 15px;
  }
  .compet{
    border-radius: 4px;
    background-color: color(primary);
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
  }
}
.event-page {
  .sponsor {

    margin-bottom: 15px;
  }

  .main-info .avatar {
    padding: 20px;
    box-sizing: border-box;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 0;
    }
  }
}

.univer-page {
  .main-info {
    .avatar {
      img {
        object-fit: cover;
        box-sizing: border-box;
        background-color: #fff;
      }
    }
  }
}

main {
  margin-bottom: 100px;
}

.index-page {
  & main > .wrapper_1080 {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-top: 40px;
    padding: 40px;
  }

  .competition {
    h2 {
      font-size: 40px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 70px;
    }
  }

  .card.prof {
    h2 {
      font-size: 40px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 70px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .prof-graph {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: calc(50% + 10px);
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
      }

      .col:nth-child(1) {
        .line {
          height: 200px;
        }
      }

      .col:nth-child(2) {
        .line {
          height: 180px;
        }
      }

      .col:nth-child(3) {
        .line {
          height: 165px;
        }
      }

      .col:nth-child(4) {
        .line {
          height: 150px;
        }
      }

      .col:nth-child(5) {
        .line {
          height: 110px;
        }
      }

      .col:nth-child(6) {
        .line {
          height: 105px;
        }
      }

      .col:nth-child(7) {
        .line {
          height: 100px;
        }
      }

      .col:nth-child(8) {
        .line {
          height: 90px;
        }
      }

      .col:nth-child(9) {
        .line {
          height: 68px;
        }
      }

      .col:nth-child(10) {
        .line {
          height: 50px;
        }
      }

      .col {
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        align-items: center;

        .number {
          flex: 1;
          display: flex;
          align-items: flex-end;
        }

        .line {
          width: 30px;
          height: 200px;
          background-color: color(blue-2);
        }

        .legend {
          position: absolute;
          transform: rotate(-90deg) translateX(-220%);
          transform-origin: top left;
          text-align: right;
          width: 200px;
          left: 0%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }

  }

}

.card.stat {
  margin-bottom: 30px;
  padding: 20px;

  h3 {
    color: #666;
  }
}

.card.circle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-top: 20px;
    }
  }

  .circle {
    background: color(gray-1);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.primary {
      background: linear-gradient(to top, color(primary), color(primary, 0.5));
    }

    &.second {
      background: linear-gradient(to top, color(second-400), color(second-400, 0.5));
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      font-size: 24px;
    }
  }
}

.authform {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.59);
    z-index: 1000;
  }

  form {
    width: 300px;

    & > * {
      margin-bottom: 20px;
    }

    input {
      padding: 7px;
    }

    input[type='submit'] {
      border: 0;
      color: #efefef;
      background-color: color(primary);
      font-size: 14px;
      padding: 15px 20px;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: color(primary, 0.9);
      }
    }

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 20px;
    background-color: #fff;
  }
}

.card.rate {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 12px;
  }

  h3 {
    color: #333333;
    margin-bottom: 40px;
  }

  .users {
    align-self: stretch;
  }

  .users .card {
    text-decoration: none;
    margin-bottom: 3px;
    transition: 0.2s ease-in-out;

    &:hover h6 {
      color: color(primary);
    }

    h6 {
      font-size: 16px;
      color: #666666;
      font-weight: 600;
    }

    p {
      margin-left: 10px;
      margin-top: 5px;

      font-size: 14px;
      color: color(gray-3);
    }

    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid color(gray-3);

    img {
      margin-right: 20px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      border: 1px solid #ccc;
    }
  }
}

.card.stat-univer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  h3 {
    color: #333333;
    margin-bottom: 40px;
  }

}