@import './theme';
.wrapper_1080{
  max-width: 1080px;
  margin: auto;
}
.main-header {
  .wrapper_1080{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  background-color: color(second-400);
  .logo{
    height: 80px;
    margin-right: 20px;
    img{
      height: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    li{
      padding: 30px;
      transition: 0.2s ease-in-out;
      border-bottom: 3px solid color(second-400);
      a {
        text-decoration: none;
        color: color(white);
      }
      &.active{
        border-bottom:3px solid color(second-100);
      }
      &:hover{
        background-color: color(second-300);
      }
    }
  }
}