@import './theme';
*{
  margin: 0;
  padding: 0;
  position: relative;
}
body{
  background-color: #efefef;
}
main{
  margin-top: 80px;
}
.wrapper_1080{
  max-width: 1080px;
  margin: auto;
}
.main-header {
  box-sizing: border-box;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  background-color: color(second-400);
  .search{
    height: 28px;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .wrapper_1080{
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    height: 100%;
    margin-right: 20px;
    img{
      height: 100%;
    }
  }
  ul {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: stretch;
    list-style-type: none;
    a {
      text-decoration: none;
      color: color(white);
    }
    li{
      height: 80px;
      box-sizing: border-box;
      padding: 30px;
      transition: 0.2s ease-in-out;

      &.active{
        border-bottom:3px solid color(second-100);
      }
      &:hover{
        background-color: color(second-300);
      }
    }
  }
  .profile{
    display: flex;
    align-items: center;
    color: color(white);
    .avatar{
      background-color: #ffffff;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.avatar{
  img{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.card{
  transition: 0.15s ease-out;
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  a{
    color: color(second-100);
  }
}
.user-page{
  .main-info{
    margin-bottom: 30px;
    .b-edit-profile{
      opacity: 0.15;
      height: 26px;
      position: absolute;
      top: 10px;
      right: 10px;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      &:hover{
        opacity: 0.2;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    display: flex;
    height: 200px;
    background-color: #ffffff;
    .avatar{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      background-color: color(gray-1);
    }
    .content{
      padding: 20px;

      .id{
        padding: 3px 10px;
        background-color: color(blue-1);
        font-size: 12px;
        color: #333;
        border-radius: 4px;
      }
      h3{
        color: color(gray-1);
        margin-bottom: 15px;
        margin-top: 4px;
      }
      h5{
        color: color(gray-3);
        margin-bottom: 5px;
        margin-top: 5px;
      }
      p{
        margin-left: 15px;
      }
      &>a{
        margin-left: 15px;
      }
      a{
        text-decoration: none;
        color: color(primary);
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .full-info{
    .nav_wrapper{
      width: 250px;
      border-right: 1px solid #cccccc;
      box-sizing: border-box;
      background-color: color(white-1);
      ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 30px 20px;
        li{
          position: relative;
          padding: 5px;
          transition: .2s ease-in-out;
          cursor: pointer;
          &.active{
            margin-left: 10px;
            &::before{
              transition: .2s ease-in-out;
              content: '';
              background-color: color(gray-1);
              display: block;
              height: 6px;
              width: 6px;
              position: absolute;
              top:50%;
              margin-top: -3px;
              left:-10px;
            }
          }
        }
      }
    }
    .content{
      padding: 20px;
      color: color(gray-2);
      h4{
        color: color(gray-1);
        margin: 20px 10px;
        font-size: 24px;
        &::after{
          position: absolute;
          content: '';
          background-color: color(blue-1);
          height: 2px;
          width: 100px;
          bottom: -5px;
          left: 0;
        }
      }
      p{
        margin: 16px 20px;
      }
      a{
        color: color(primary);
        font-weight: bold;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      ul{
        .date{
          width: 150px;
          display: inline-block;
          color: color(gray-1);
        }
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 20px;
        li{
          display: flex;
          margin: 16px 20px;
          &::after{
            position: absolute;
            content: '';
            display: block;
            top: 50%;
            left: -25px;
            margin-top: -5px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border:1px solid color(primary);
            z-index: 1;
          }
        }
        &::after{
          position: absolute;
          content: '';
          display: block;
          top: 23px;
          left: 0;
          bottom: 23px;
          width: 2px;
          background-color: color(primary);
        }
      }
      .competitions{
        margin: 20px;
        span{
          display: inline-block;
          background: color(white);
          padding: 10px 20px;
          border-radius: 10px;
          margin: 10px;
          border:1px solid color(blue-1);
        }
      }
    }
  }
}
.users-page{
  .wrapper_1080{
    display: flex;
    flex-wrap: wrap;
  }
}
.card.user,.card.university,.card.company{
  width: calc(100% / 3 - 20px);
  margin: 20px 10px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.15s ease-out;
  &:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  }
  header{
    padding: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .avatar{
      height: 60px;
      width: 60px;
      border:1px solid #ccc;
      border-radius: 50%;
      margin-bottom: 7px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .title{
      flex: 1;
      color: color(second-300);
      font-size: 18px;
      margin-bottom: 7px;
    }
    border-bottom: 2px solid color(gray-3)
  }
  .content{
    padding: 20px;
  }
}
.univers-page,.company-page{

  .wrapper_1080{
    display: flex;
    flex-wrap: wrap;
  }
  header{
    .avatar{
      padding: 10px;
      box-sizing: border-box;
      height: 60px;
      width: 60px;
      border:1px solid #ccc;
      border-radius: 50%;
      margin-bottom: 7px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

}
.univer-page{
  .main-info{
    .avatar{
      img{
        box-sizing: border-box;
        padding: 15px;
        background-color: #fff;
      }
    }
  }
}